body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat';
  overflow: hidden;
}

section {
  display: grid;
  grid-template-columns: repeat(10, auto);


  div {
      background-color: white;
      height: 100vh;
      transition: background-color 1s;
  }
}

h1 {
  font-size: 5em;
  position: absolute;
  top: 40%;
  left: 12%;
  opacity: 0;
  z-index: 2;
}
